# Git
.git
.gitignore

# Python cache & virtual environments
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Node / Frontend
frontend/node_modules
frontend/dist
.vscode
.idea
.DS_Store

# Local temporary SQLite DBs and test reports
backend/local_storage/retinal-images/*
backend/local_storage/gradcam-images/*
backend/local_storage/clinical-reports/*
